<div class="w-bootstrap-iso">
    <div class="container">
        <h3>Action Rules</h3>

        <div id="q-approve">
            <form>

            </form>
        </div>

        <div id="q-reject">
        </div>

    </div>
</div>